
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>Emu</title>
        <link rel="stylesheet" href="/public/css/style.css"></link>
    </head>
    <body class="home">
        <div class="container">
            <div class="left">
                <div class="header">
                    <h1>Emu</h1>
                    <p class="info">by massimo</p>
                </div>
                <ul>
                {{ range $index, $element := . }}
                <li id="{{ .Page.ID.Hex }}" 
                    data-page-id="{{ .Page.ID.Hex }}"
                    {{ if eq $index 0 }} class="current" {{ end }}>
                    <h3>{{ .Page.Title }}</h3>
                    <div class="desc">
                        <span>{{ .Host }}</span>
                    </div>
                    <div class="tools">
                        <span data-page-id="{{ .Page.ID.Hex }}" class="delete">Delete</span>
                    </div>
                </li>
                {{ end }}
                </ul>
            </div>
            {{ $first := index . 0 }}
            <div id="content" 
                 class="content" 
                 data-page-id="{{ $first.Page.ID.Hex }}">
                <div class="meta">
                    <h3 class="title">{{ $first.Page.Title }}</h3>
                    <p class="info">
                    <span class="time">{{$first.Page.CreatedAt.Format "2006/01/02 15:04"}}</span>
                    <a target="_blank" class="source" href="{{$first.Page.URL}}">{{$first.Host}}</a>
                    <a target="_blank" class="link" href="/page/{{$first.Page.ID.Hex}}">#{{$first.Page.ID.Hex}}</a>
                    </p>
                </div>
                <iframe id="iframe" src="/page/{{$first.Page.ID.Hex}}"></iframe>
            </div>
        </div>
        <script src="/public/js/jquery-2.2.2.min.js"></script>
        <script src="/public/js/pages.js"></script>
    </body>
</html>
