<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>Page</title>
    </head>
    <body>
        <p>{{.Title}}</p>
    </body>
</html>
