
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>Pages</title>
    </head>
    <body>
        <ul>
        {{ range . }}
        <li>
            <a href="/page/{{ .ID.Hex }}">{{ .Title }}</a>
            <span>{{ .CreatedAt.Format "1/2/06 15:04" }}</span>
        </li>
        {{ end }}
        </ul>
    </body>
</html>
