html, body {
    font-family: "Microsoft Yahei", Arial,"Helvetica Neue",Helvetica,"Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
    background: #FFF;
}

.pages {
    h1 {
        font-size: 1.4em;
    }
    .container {
        display: flex;
        flex-flow: row nowrap;
        ul {
            padding: 0;
            margin: 0;
            width: 400px;
            min-width: 400px;
            li {
                padding: 10px;
                h3 {
                    font-weight: 300;
                    font-size: 1em;
                    margin: 5px 0;
                    cursor: default;
                }
                .desc {
                    color: #666;
                    font-size: 12px;
                    a {
                        text-decoration: none;
                        color: #333;
                        &:hover {
                            color: #c92200;
                        }
                    }
                }
                &:hover {
                    background: #ddd;
                }
            }
        }
        iframe {
            margin-left: 10px;
            flex-grow: 1;
            border: 1px solid #333;
            height: 800px;
        }
    }
}
